<form class="retrieve-form" (ngSubmit)="onSubmit()">
    <h1>GET SECRET</h1>
    <div *ngIf="!submitted">
        <label [htmlFor]="hash">Hash:</label>
        <input type="text" id="hash" name="hash" required [(ngModel)]="hash" />
    </div>
    <div *ngIf="submitted">{{secret}}</div>
    <div class="buttonContainer">
            <button *ngIf="!submitted" class="button" type="submit">
                Get existing secret
            </button>
        <button class="button" type="button" routerLink="/save-secret">
            Post new secret
        </button>
    </div>
</form>