.save-form button[type="submit"] {
  background-color: #0004ff;
  color: #7cd3ff;
}
.save-form button[type="submit"]:hover {
  background-color: #0004ff;
  color: #fcfcfc;
}

.hash-container {
    max-width: 100%;
    overflow: auto;
    word-wrap: break-word; /* This ensures long words are broken and wrap onto the next line */
}