<form class="save-form" (ngSubmit)="onSubmit()">
    <h1>POST SECRET</h1>
    <div *ngIf="!submitted">
        <div>
            <label [htmlFor]="secretText">Secret:</label>
            <input type="text" id="secretText" name="secretText" required [(ngModel)]="secretText" />
        </div>
        <div>
            <label [htmlFor]="expiresAt">Expires at (in minutes, 0 means no expiration):</label>
            <input type="number" min="0" id="secretText" name="expiresAt" required [(ngModel)]="expiresAt" />
        </div>
        <div>
            <label [htmlFor]="remainingViews">Remaining views:</label>
            <input type="number" id="remainingViews" name="remainingViews" required [(ngModel)]="remainingViews" />
        </div>
    </div>
    <div *ngIf="submitted" class="hash-container">{{hash}}</div>
    <div class="buttonContainer">
        <button *ngIf="!submitted" class="button" type="submit">
            Post new secret
        </button>
        <button class="button" type="button" routerLink="/get-secret">
            Get existing secret
        </button>
    </div>
</form>